@charset "UTF-8";

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: auto;
	background-image: url('http://localhost:8080/omakaseProject/resources/img/body_bg.jpg');
	background-attachment:fixed;
	background-size: cover;
	font-family: georgia;
}
 
/* l-menu */

ul{
	list-style:none;
}
.l-menu{
	position: absolute;
	right: 35px;
	top: 18px;
}
.l-menu ul li{
	float: left;
	padding-right: 11px;
	margin-right: 10px;
	background: url(http://localhost:8080/omakaseProject/resources/img/bg_topnav.png) no-repeat 100% 50%;
}
.l-menu ul li:last-child{
	padding-right: 0;
	margin-right: 0;
	background: none;
}
.l-menu ul li a{
	color: lightgrey;
	font-size: 10px;
	text-decoration: none;
}
.l-menu ul li a:hover{
	color: green;
	text-decoration: underline;
}

/* header */

#header {
	height: 10%;
	text-align: center;
}
#index2_menu {
	background-color: rgba(200, 50, 0, 0.8);
}
#menu_nav li a{

	color: khaki;
}
#menu_nav li a:hover{

	color: DarkOliveGreen;
}
/* nav */

#nav {
	background-color: rgba(188, 153, 101, 0.88);
	width: 17%;
	height: 100%;
	float: left;
	color: white;
}

.mb-1:hover {
	color: green;
}

/* container */

#wrap {
	width: 900px;
	margin: 0 auto;
}

#container {
	position: relative;
	margin: auto;
	height: 700px; 
}

#container:after {
	content: '';
	display: block;
	clear: both;
	float: none;
}


/* section */

#index2_section {
	background-image: url('http://localhost:8080/omakaseProject/resources/img/article_bg.jpg');
	height: 100%;
	display: flex;
}


/* footer */

#footer {
	background-color: rgba(188, 153, 101, 0.6);
	color: white;
	font-size: 7px;
}

#topBtn {
	float: right;
	text-decoration: none;
}