<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="noticeSQL">
	<insert id="noticeWrite" parameterType="notice">
 		insert into noticeBoard(notSeq, notSubject, notContent, notHit, notLogtime)
 						 values(seq_notice.nextval
					          , #{notSubject}
					  		  , #{notContent}
					  		  , 0
					  	      , sysdate)
 	</insert>
 	
 	<select id="getNoticeList" resultType="notice">
 		select notSeq, notSubject, notHit, TO_CHAR(notLogtime, 'YYYY-MM-DD HH:MI:SS') as notLogtime from noticeBoard
 	</select>
 	
 	<select id="getNoticeView" parameterType="int" resultType="notice">
 		select * from noticeBoard where notSeq=#{notSeq}
 	</select>
 	
 	<update id="getNoticeUpdate" parameterType="notice">
 		update noticeBoard set notSubject=#{notSubject}, notContent=#{notContent} where notSeq=#{notSeq}
 	</update>
 	
 	<delete id="noticeDelete" parameterType="int">
 		delete from noticeBoard where notSeq=#{notSeq}
 	</delete>
 	
 	 	<select id="getIndexNotice" resultType="notice">
		<!-- 1번 -->
		select * from 
		(select rownum rn, tt.* from 
		(select * from noticeBoard order by notSeq desc)tt
		)where rn between 1 and 5 
		
		
		<!-- 2번 비추문장 -->
<!-- 		select * from 
		(select rownum rn, tt.* from 
		(select * from board order by seq desc)tt)
		where rn  >= #{startNum} rn &lt;= #{endNum}    -->
		<!--  크기비교연산자  rn>=1 and rn<=5 를 태그로 인식한다. 다른코드를 써야대는데 잘 인식안해서 비추 -->
		
		
		<!-- 3번 -->
<!-- 		<![CDATA[
		select * from 
		(select rownum rn, tt.* from 
		(select * from board order by seq desc)tt)
		where rn  >= #{startNum} rn &lt;= #{endNum} 
		]]>  -->
 	</select> <!-- 추가부분 -->
 	
 	
</mapper>